/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}
a{
    text-decoration:none;
}

body{
  background: url(../img/background.jpg);
  width: 100%;
   min-height: 960px;
  background-position: center!important;
  background-size: cover!important;
  position: relative;
  background-attachment: fixed!important;
}
body:before{
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 960px;
  background: #00000096;
}

.formularioOrcamento{
    max-width: 500px;
    margin:0 auto;
    display: none;
    min-height: 615px;
}
.primeiraEtapa{
  display: block;
}
.primeiraEtapa.esconder{
  display: none;
}
  .formularioOrcamento h2{
    font-size: 19px;
    color: #2f3b61;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }
   .formularioOrcamento h2:before{
        content: " ";
        display: block;
        background: url(http://www.audiotext.com.br/wp-content/themes/audiotext/img/logo.png);
        height: 48px;
        width: 100%;
        max-width: 194px;
        background-size: cover!important;
        background-position: center!important;
        margin: 0px auto 25px;
    }
  .formularioOrcamento .titulo span{
    color: #2f3b61;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  .span#validation-alert.validacao {
    color: #8e0000;
    text-align: center;
  }
  .formularioOrcamento span.validacao.campoValido{
    text-align: left;
    display: none;
  }
  .formularioOrcamento span.validacao.compoInvalido{
    color: #ffffff;
    text-align: left;
    display: block;
    font-size: 11px;
    background: #8e000080;
    padding: 5px;
    border: solid 1px #8e0000;
  }
  .formularioOrcamento button{
    background: #2f3b6b;
    margin:0 5px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    outline:none;
  }
  .formularioOrcamento a{
    background: #2f3b6b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    cursor: pointer;
    text-decoration: none;
    outline:none;
  }
  .formularioOrcamento input{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
  }
  .formularioOrcamento input.validar{
    border-color:red;
  }

  .formularioOrcamento textarea{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
  }
  .formularioOrcamento select{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
  }

 .formularioOrcamento input:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento input::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento input:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento input::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento input:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}



 .formularioOrcamento select:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento select::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento select:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento select::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento select:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

 .formularioOrcamento textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.resultOrcamento{
    max-width: 1200px;
    margin: 50px auto;
}
    .resultOrcamento .menuInfo{
        background:#1a2038;
        margin-top:1px;
    }
    .resultOrcamento .menuInfo.tituloMobile{
      display: none;
    }
        .resultOrcamento .menuInfo .tempoAudio{
           height: 108px;
           text-align: center;
           padding-top: 15px;
           font-size: 20px;
        }
        .resultOrcamento .menuInfo .tempoAudio p{
            color:#e6d03d;
            margin:0;
        }
        .resultOrcamento .menuInfo .tempoAudio span{
            color:#e6d03d;
            font-weight: bold;

        }
    .resultOrcamento .menuInfo .titulos h3{
        color:#fff;
        text-align: center;
        margin:0;
        height: 69px;
        border-top: solid 1px #ccc;
        line-height: 63px;
    }
    .resultOrcamento .menuInfo .titulos p{
      text-align: center;
      color:#fff;
      font-size: 14px;
    }
    .resultOrcamento .areaProposta{
        text-align: center;
        border: solid 3px #1a1f37;
        min-height: 250px;
        border-radius: 5px;
        background: #fff;
    }
        .resultOrcamento .areaProposta h3{
            margin:0;
            border-bottom: solid 1px #ccc;
            height: 107px;
            line-height: 115px;
        }
        .resultOrcamento .areaProposta .titulo{
            height: 70px;
            border-bottom: solid 1px #ccc;
            line-height: 70px;

        }
            .resultOrcamento .areaProposta .titulo p{
                margin:0;
                font-size: 24px;
            }
            .resultOrcamento .areaProposta .titulo strong{

            }
           
  .resultOrcamento .areaProposta .areaProposta{
    cursor:pointer;
  }
    .resultOrcamento .areaProposta .enviarArquivos p{
        margin: 0;
    }
    .resultOrcamento .areaProposta .enviarArquivos a{
        margin: 0;
        display: block;
        padding: 20px;
        color: #1a203a;
        text-transform: uppercase;
        font-weight: 800;
         transition:All .5s ease;
        -webkit-transition:All .5s ease;
        -moz-transition:All .5s ease;
        -o-transition:All .5s ease;
    }
    .resultOrcamento .areaProposta:hover a{
        color: #fff;
        background: #1a203a;
         transition:All .5s ease;
        -webkit-transition:All .5s ease;
        -moz-transition:All .5s ease;
        -o-transition:All .5s ease;
}
.figureVetor{

}
.formularioArea{
    background:#fff;
    height: 100vh;
    padding:70px 60px 0;
    min-height: 960px;
}

.textoResultOrcamento {
    padding: 5px;
    color: #1a2038;
    position: relative;
    background: #fff;
    width: 100%;
}
    .textoResultOrcamento h1{
        max-width: 1200px;
        margin: 0px auto;
        padding: 10px 0;
    }
    .textoResultOrcamento p{
        max-width: 1200px;
        font-size: 17px;
        margin: 20px auto;
    }
    .textoResultOrcamento p a{
        background: #1a2038;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        border:solid 1px transparent;
    }
     .textoResultOrcamento p a:hover{
        background: white;
        color: #1a2038;
        border: solid 1px #1a2038;
        transition:All .5s ease;
        -webkit-transition:All .5s ease;
        -moz-transition:All .5s ease;
        -o-transition:All .5s ease;
     }
.container{
    width:100%;
}

@media(max-width: 991px){
    .resultOrcamento .areaProposta .enviarArquivos a {
        border: solid #1a203a 1px;
        border-radius: 5px;
    }
    .formularioArea{

        padding: 30px 10px 0;
    }
    .resultOrcamento .menuInfo{
        display: none;
    }
    .resultOrcamento .menuInfo.tituloMobile{
        display: block;
    }
    .correcaoX{
        padding-top:50px;
    }
    .resultOrcamento .areaProposta{
        padding:10px;
        margin: 20px auto;
          width: 90%;
    }
  .resultOrcamento .menuInfo .tempoAudio {
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  }
}
@media(max-width: 768px){
    .formularioArea{
        background: transparent;
    }
    body{
            background-attachment: initial!important;
    }
    .formularioOrcamento h2{
        color: #fff;
    }
    .formularioOrcamento span{
         color: #fff;
    }
    .formularioOrcamento button,.formularioOrcamento a{
        border: solid #ccc 1px;
    }

}
