/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAStextoResultOrcamento
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
a{
    text-decoration:none;
}

.pop-up {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
    overflow-y: scroll;
}
.pop-up::-webkit-scrollbar{
    background: #fff;
    width: 8px;
}
.pop-up::-webkit-scrollbar-button{
    background: #2a3557;
    display: none;
}
.pop-up::-webkit-scrollbar-track{


}
.pop-up::-webkit-scrollbar-track-piece {
}
.pop-up::-webkit-scrollbar-thumb{
    background: #2a3557;
    border-radius: 5px;
}
.pop-up::-webkit-scrollbar-corner  { /* 6 */ }
.pop-up::-webkit-resizer{

}

.pop-up .content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    width: 650px;
    height: auto;
    max-width: 80%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    padding-bottom: 70px;
    position: relative;
}

.pop-up .content .header {
    text-align: right;
    position: relative;
    z-index: 2;
    top: -16px;
}

.pop-up .content .header .close-popup {
    color: #000;
    font-size: 30px;
    text-align: right;
}

.pop-up .content .header .close-popup:hover, .close-popup:focus {
    text-decoration: none;
    cursor: pointer;
}

.pop-up .body {
    width: auto;
}

.formularioOrcamento{
    max-width: 500px;
    margin:0 auto;
    height: auto;
    padding: 0;
}
.primeiraEtapa{
    display: block;
}
.primeiraEtapa.esconder{
    display: none;
}
.formularioOrcamento h2{
    font-size: 19px;
    color: #2f3b61;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;

}


#proposal-container{
    display: block;
    position: relative;
    top: -55px;
    padding-top: 12px;
    background: transparent;
}

.pop-up span.logo:before {
    content: " ";
    display: block;
    background: url(../img/logo.png);
    height: 25px;
    width: 100%;
    max-width: 100px;
    background-size: cover!important;
    background-position: center!important;
    margin: 0px auto 25px;
    position: absolute;
    top: 9px;
    left: 16px;
}

.formularioOrcamento .titulo span{
    color: #2f3b61;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.span#validation-alert.validacao {
    color: #8e0000;
    text-align: center;
}
.formularioOrcamento span.validacao.campoValido{
    text-align: left;
    display: none;
}
.formularioOrcamento span.validacao.compoInvalido{
    color: #ffffff;
    text-align: left;
    display: block;
    font-size: 11px;
    background: #8e000080;
    padding: 5px;
    border: solid 1px #8e0000;
}
.formularioOrcamento button{
    background: #2f3b6b;
    margin:0 5px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    outline:none;
    margin-top: 10px;
}
.formularioOrcamento a{
    background: #2f3b6b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    cursor: pointer;
    text-decoration: none;
    outline:none;
    margin-top: 10px;
}
.formularioOrcamento input{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

.formularioOrcamento input[type=checkbox]#budget-isWhatsApp {
    width: 10px;
    color: #34495E ;
    height: 10px;
    min-height: 0;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: inline;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin-left: 5px;
}

.formularioOrcamento input.validar{
    border-color:red;
}

.formularioOrcamento textarea{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: 85px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97);
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}
.formularioOrcamento select{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

.formularioOrcamento input:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento input::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento input:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento input::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento input:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}



.formularioOrcamento select:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento select::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento select:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento select::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento select:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.resultOrcamento{
    max-width: 1200px;
    margin: 20px auto 0;
}

.resultOrcamento .tbHeader {
    border: solid 1px #1a1f37;
    background: #1a2038;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.resultOrcamento .tbBody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.resultOrcamento .maisEscolhida::before {
    content: 'Mais escolhida!';
    height: 30px;
    background-color: #cc942e;
    font-weight: 500;
    display: block;
    position: absolute;
    width: 100%;
    top: -30px;
    z-index: 76;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 0 0;
    padding: 8px 0px 0px 0px;
}

.resultOrcamento h3.instant, .enviarArquivos a.instant {
    background-color: rgb(241,90,34);
}

.resultOrcamento h3.express, .enviarArquivos a.express {
    background-color: rgb(239,193,0);
}

.resultOrcamento h3.fast, .enviarArquivos a.fast {
    background-color: rgb(118,179,1);
}

.resultOrcamento h3.flex, .enviarArquivos a.flex {
    background-color: rgb(0,176,216);
}

.resultOrcamento .proposals-table .col-md-3:last-child h3 {
    border-top-right-radius: 10px;
}
.resultOrcamento .proposals-table .col-md-3:last-child h3.express {
    border-top-right-radius: 0;
}
.resultOrcamento .proposals-table .col-md-3:last-child .enviarArquivos {
    border-bottom-right-radius: 10px;
}
.resultOrcamento .proposals-table .col-md-3:first-child .enviarArquivos {
    border-bottom-left-radius: 10px;
}

#proposal-container .mobile .col-xs-6.maisEscolhida form {
    border-top-right-radius: 0;
}

.resultOrcamento .menuInfo{
    background:#1a2038;
    margin-top:1px;
}
.resultOrcamento .menuInfo.tituloMobile{
    display: none;
}
.resultOrcamento .menuInfo .tempoAudio{
    height: 89px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    background: #0d101c;
    border-top-left-radius: inherit;
}
.resultOrcamento .menuInfo .tempoAudio p{
    color:#fff;
    font-weight: bold;
    margin:0;
}
.resultOrcamento .menuInfo .tempoAudio span{
    color:#fff;
    font-size: 17px;
}

.resultOrcamento .menuInfo .titulos {
    height: 76px;
    border-bottom: 1px solid #0d101c;
}

.resultOrcamento .menuInfo .titulos h3{
    color:#fff;
    text-align: center;
    margin:0;
    line-height: 67px;
    font-weight: 600;
}
.resultOrcamento .menuInfo .titulos p{
    text-align: center;
    color:#fff;
    font-size: 14px;
}
.resultOrcamento .areaProposta{
    text-align: center;
    /*border: solid 3px #1a1f37;*/
    min-height: 250px;
    background: #e3e6f1;
}

.resultOrcamento .areaProposta h3{
    margin: 0;

    height: 90px;
    line-height: 90px;
    color: #fff;
    font-weight: bold;
}
.resultOrcamento .areaProposta .titulo{
    height: 75px;
    line-height: 75px;
    border-left: solid 1px #bfbcbc;
    border-right: solid 1px #bfbcbc;
}
.resultOrcamento .areaProposta .titulo p{
    margin:0;
    font-size: 18px;
    display: inline-block;
    min-width: 100px;
    max-width: 100px;
    border-top: solid 1px #bfbcbc;
}

.resultOrcamento .areaProposta .areaProposta{
    cursor:pointer;
}
.resultOrcamento .areaProposta .enviarArquivos {
    padding: 15px;
    background: #1a203a;
}
.resultOrcamento .areaProposta .enviarArquivos p{
    margin: 0;
}
.resultOrcamento .areaProposta .enviarArquivos a{
    text-decoration: none;
    margin: 0;
    display: block;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 800;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
}

.figureVetor{

}

.formularioArea{
    background:#fff;
    height: auto;
    padding:0 10px 0;
    max-width: 500px;
}

.textoResultOrcamento {
    padding: 5px;
    color: #1a2038;
    position: relative;
    background: #fff;
    width: 100%;
}
.textoResultOrcamento h1{
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px 0;
}
.textoResultOrcamento p{
    max-width: 1200px;
    font-size: 17px;
    margin: 20px auto;
}

.textoResultOrcamento p a:hover{
    cursor: pointer;
}
#budget-pop-up .container{
    width:100%;
}

.leftBorderRadius  {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.rightBorderRadius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

@media(max-width: 991px){
    .formularioArea{
        padding: 30px 10px 0;
    }

    .correcaoX{
        padding-top:50px;
    }
    .pop-up .content{
        overflow-y: scroll;
        height: 100vh;
    }
}

.ocultarResultadoOrcamento {
    display: none;
}

#rc-imageselect {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}

@media screen and (max-height: 575px){
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

@media(max-width: 445px){
    .pg.formularioOrcamento {
        padding-top: 0!important;
    }
    .pop-up .content {
        height: auto;
        padding: 20px 5px;
        padding-bottom: 20px;
        max-width: 95%!important;
    }
    .formularioOrcamento input[type=checkbox]#budget-isWhatsApp {
        width: 10px;
        height: 8px;
    }
    .row.proposals-table .row:first-child {
        margin-top: 0!important;
    }
    .resultOrcamento {
        margin: 0px auto 0;
    }
}