/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

body{
     background: url(../img/582.jpg);
    width: 100%;
    height: 100vh;
    background-position: center!important;
    background-size: cover!important;
    position: relative;
    background-attachment: fixed!important;
}
body:before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000096;
}
.formularioOrcamento{
    max-width: 500px;
    margin:0 auto;
    display: none;
} 
.primeiraEtapa{
  display: block;
}
.primeiraEtapa.esconder{
  display: none;
}
  .formularioOrcamento h2{
    font-size: 19px;
    color: #2f3b61;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }
  .formularioOrcamento span{
    color: #2f3b61;
    text-align: center;
    display: block;
    margin-bottom: 20px;
   
  }
  .formularioOrcamento button{
    background: #2f3b6b;
    margin:0 5px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    outline:none;
  }
  .validacaoForm{
     float: right;
      padding: 10px;
      position: relative;
  }
  .validacaoForm.validacao:before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        top:0;
        left: 0;
  }
  .formularioOrcamento a{
    background: #2f3b6b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
   outline:none;

  }
  .formularioOrcamento input{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
  }
  .formularioOrcamento input.validar{
    border-color:red;
  }

  .formularioOrcamento textarea{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
  }
  .formularioOrcamento select{
    outline: none ;
    background: #f7f7f7 ;
    width: 100%;
    color: #34495E ;
    height: auto ;
    min-height: 40px;
    border: none ;
    border-bottom: 1px solid rgb(47, 59, 97) ;
    font-size: 13px ;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
  }

 .formularioOrcamento input:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento input::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento input:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento input::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento input:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}



 .formularioOrcamento select:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento select::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento select:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento select::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento select:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

 .formularioOrcamento textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}

.formularioOrcamento textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}

.formularioOrcamento textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.formularioOrcamento textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}

.resultOrcamento{
    margin-bottom: 50px;
    margin-top: 50px;
    
}
    .resultOrcamento .menuInfo{
        background:#1a2038;
        margin-top:1px;
    }
        .resultOrcamento .menuInfo .tempoAudio{
           height: 75px;
           text-align: center;
           padding-top: 15px;
           font-size: 20px;
        }
        .resultOrcamento .menuInfo .tempoAudio p{
            color:#e6d03d;
            margin:0;
        }
        .resultOrcamento .menuInfo .tempoAudio span{
            color:#e6d03d;
            font-weight: bold;

        }
    .resultOrcamento .menuInfo .titulos h3{
        color:#fff;
        text-align: center;
        margin:0;
        height: 75px;
        border-top: solid 1px #ccc;
        line-height: 75px;
    } 
    .resultOrcamento .areaProposta{
        text-align: center;
        border: solid 3px #1a1f37;
        min-height: 250px;
        border-radius: 5px;
    }
        .resultOrcamento .areaProposta h3{
            margin:0;
            border-bottom: solid 1px #ccc;
            height: 75px;
            line-height: 75px;
        }
        .resultOrcamento .areaProposta .titulo{
            height: 75px;
            border-bottom: solid 1px #ccc;
            line-height: 75px;

        }
            .resultOrcamento .areaProposta .titulo p{
                margin:0;
                font-size: 24px;
            }
            .resultOrcamento .areaProposta .titulo strong{

            }
.figureVetor{

}
.formularioArea{
    background:#fff;
    height: 100vh;
    padding:30px 60px 0;
}
@media(max-width: 991px){
    .formularioArea{
       
        padding: 30px 10px 0;
    }
}
@media(max-width: 768px){
    .formularioArea{
        background: transparent;
    }
    body{
            background-attachment: initial!important;
    }
    .formularioOrcamento h2{
        color: #fff;
    }
    .formularioOrcamento span{
         color: #fff;
    }
    .formularioOrcamento button,.formularioOrcamento a{
        border: solid #ccc 1px;
    }
    
}